/.idea/libraries/Generated_files.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/sanguo-py.iml
.idea
.idea/
*.xlsx
*.pyc
*.xls
*.xls
*.png
*.jpg
*.txt
*.json

/rails_demo/tmp/*
/rails_demo/*.rakeTasks